Desktop.ini
.DS_Store

# Ignore editor configuration folders | Ignorar carpetas de configuración de editores | Ignorar pastas de configuração de editores
.bridge/
.vscode/
!.vscode/
.vscode/*
!.vscode/tasks.json
.git/

# Ignore compilarions and packs | Ignorar compilaciones y empaquetados | Ignorar compilações e pacotes
build/
builds/
packs/
.regolith/
node_modules/.bin/
node_modules/@esbuild/
node_modules/esbuild/
node_modules/pngjs/

# Bridge | Excepciones específicas | Exceções específicas
!.bridge/compiler/
!.bridge/extensions

# Specific File Types | Tipos de archivo específicos | Tipos de arquivo específicos
*.log
*.txt

# Planned but Unfinished Features | Características planedas pero no terminadas | Recursos planejados mas não finalizados


# Specific Exceptions | Excepciones específicas | Exceções específicas
BP/items/utility_items/debug_stick.json
BP/scripts/items/debug_stick.js
